@font-face {
    font-family: RobotoSlab-Regular;
    src: url(); }
  
@font-face {
    font-family: RobotoSlab-Light;
    src: url(fonts/RobotoSlab-Light.ttf); }
  
@font-face {
    font-family: RobotoSlab-Bold;
    src: url(fonts/RobotoSlab-Bold.ttf); }
  
@font-face {
    font-family: RobotoSlab-Medium;
    src: url(fonts/RobotoSlab-Medium.ttf); }
  
@font-face {
    font-family: SVN-Gilroy-SemiBold;
    src: url(fonts/SVN-Gilroy-SemiBold.ttf); }
body {
    font-family: RobotoSlab-Light;
    font-size: 13pt;
    background-image: url(bg.png);
    background: fixed; }
  
  * {
    margin: 0px;
    padding: 0px; }
  
  ul li {
    list-style: none; }
.box-right-menu {
    display: flex;
}
.main-menu {
    display: flex;
    padding-top: 20px;
    margin-left: 50px;
    padding-bottom: 20px; } 
.activelink {
    font-family: RobotoSlab-Bold;
    border-bottom: 4px solid #e84a1b; }
.main-menu li a {
    color: white;
    text-decoration: none;
    padding: 5px 5px; }
  
.main-menu li {
    padding-right: 68px;
}
  
.box-left-menu {
    margin-top: 6px; }
  
.logo-cam img {
    width: 89px; }
  
.dropbtn {
    border: none;
    cursor: pointer; }
  
.dropdown {
    position: relative;
    display: inline-block; }
  
.submenu-text {
    font-size: 17px;
    font-family: Segoe UI Regular;
    color: #FFFFFF; }
  
.logo-mobile a img {
    margin-top: 11px;
    width: 50px; }

.navbar-container {
    background-image: url(bg.png);
}
@media only screen and (min-width: 811px) {
.btn-dangnhap {
        border: 1px solid #e84a1b;
        color: #e84a1b;
        height: 31pt;
        border-radius: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 139pt;
        background: #fbfbfb00;
        text-decoration: none;
        margin-top: 15px; }
    
  
.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: #162938;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    color: #171717; }
  
.sidenav a {
    text-decoration: none;
    color: white;
    display: block;
    transition: 0.3s; }
  
.sidenav a:hover {
    color: #f1f1f1; }
  
.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px; }
  
.sidenav {
    padding-top: 15px;
    z-index: 9999; }
  
.sidenav a {
    font-size: 14pt;
    font-family: 'RobotoSlab-Regular'; }
  
.icon-menu-mobile img {
    float: left;
    padding: 10px 25px 0px 25px; }
  
.sidenav-mobile-menu {
    padding-top: 30px;
    padding-right: 30px;
    padding-left: 30px; }
  
.icon-menu-mobile {
    padding-bottom: 20px; }
  
.icon-menu-mobile-home img {
    padding-bottom: 20px;
    margin-left: 80px; }
  
.dropdown-content::-webkit-scrollbar {
    display: none; }
  
footer {
    background-color: #162938;
    color: white;
    padding: 60px 0px 60px 0px; }
.container-footer {
    width: auto;
    height: auto;
    margin-left: 30px;
    margin-right: 0px;
}
.box-footer-r {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.nameCtybot {
        font-family: RobotoSlab-Medium;
        font-size: 16px;
        text-transform: uppercase; }
      
      .info-bot {
        font-family: RobotoSlab-Regular;
        font-size: 14px; }
      
      .fancybox-button .fancybox-close-small {
        display: none }
    
      button:focus {
        outline: none }
  
.navbar-container {
    max-width: auto;
 } 
.btn-dangnhap:hover {
    text-decoration: none;
    color: #e84a1b; }
  
li {
    list-style: none; }
  
.border-dv-right {
    border-right: 1px solid white;
    height: 20px;
    float: right;
    padding-left: 15px;
    margin-top: 3px; }

    a:hover {
    text-decoration: none; }

    ul {
    margin: 0;
    padding: 0; }
    
.container {
    width: 100%;
    height: 180%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto; }
    @media (min-width: 576px) {
    .container {
    max-width: 540px; } }
    @media (min-width: 768px) {
    .container {
    max-width: 720px; } }
     @media (min-width: 992px) {
    .container {
    max-width: 960px; } }
    @media (min-width: 1200px) {
    .container {
    max-width: 1140px; } }

    .branch-icon {
        margin-top: 10px;
        height: 27px
      }
      
      #selectCoso-label {
        font-family: 'RobotoSlab-Bold'
      }
      
      #loading-time {
        display: none;
        position: absolute;
        left: 0;
        right: 0;
        text-align: center;
        z-index: 2
      }
      
      #loading-time img {
        width: 40px
      }
      
      .form-cam-order {
        position: relative
      }
      
      #address {
        padding-top: 30px;
        font-size: 14px
      }
      
      .btn-loading {
        display: none
      }
      
      .btn-loading img {
        max-width: 35px
      }
      
      #btn-datban-loading {
        display: none
      }
      
      #orderOverload {
        display: none;
        text-align: center
      }
      
      #orderSuccess {
        display: none
      }
      
      .validate-error {
        color: red;
        font-size: 16px;
        padding-top: 10px
      }
      
      .meat2-btn-img {
        height: unset;
        margin-top: 0
      }
      
      #meat2-btn-text {
        margin-top: -25px
      }
      
      .title-cam-order {
        font-family: 'RobotoSlab-Medium'
      }
      
      .form-cam-order-lp {
        border-radius: 13px;
        background-color: white;
        box-shadow: 0 0 2.2px rgb(0 0 0/ 56%),0 6.7px 5.3px rgb(0 0 0/ 34%),0 12.5px 10px rgb(0 0 0/ 0%),0 22.3px 17.9px rgb(0 0 0/ 0%),0 41.8px 33.4px rgb(0 0 0/ 0%),0 100px 80px rgb(0 0 0/ 0%);
        padding: 20px
      }
      
      .order-cam-logo {
        float: left;
        padding-top: 35px;
        width: 100%
      }
      
      .form-cam-order label {
        font-family: 'RobotoSlab-Bold'
      }
      
      .btn-lau-2 {
        border: 1px solid white;
        border-radius: 20px;
        height: 36px;
        width: 132px;
        font-family: 'RobotoSlab-Bold';
        color: white;
        background-color: #b93c3c
      }
      
      .btn-lau-1 {
        padding-right: 20px;
        border: 1px solid white;
        border-radius: 20px;
        height: 36px;
        width: 132px;
        font-family: 'RobotoSlab-Bold';
        color: white;
        background-color: #b7b7b7
      }
      
      .form-control {
        border: 0;
        border-bottom: 1px solid;
        border-radius: 0 !important
      }
      
      .address {
        font-size: 14px;
        padding-top: 20px
      }
      
      .btn-datmua {
        border: 0;
        background: #e84a1b;
        height: 52px;
        border-radius: 45px;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        font-family: RobotoSlab-Bold;
        color: white
      }
      
      .date-order {
        display: flex;
        padding-top: 55px
      }
      
      .pd-top-order {
        padding-top: 55px
      }
      
      .btn-lp {
        padding-top: 22px
      }
      
      .form-control:focus {
        color: #495057;
        background-color: #FFF;
        border-color: black;
        box-shadow: none;
        outline: 0
      }
      
      @media only screen and (min-width: 769px) {
        .ngay {
            width:142px;
            margin-right: 70px
        }
      
        .gio {
            width: 142px
        }
      
        .lp-order-page {
            background-image: url(bg-order.png);
            height: 548px;
            background-size: cover;
            background-repeat: no-repeat;
            margin-bottom: 500px
        }
      
        .note-order {
            font-family: RobotoSlab-Bold;
            padding-top: 50px;
            padding-bottom: 576px
        }
      
        .title-order {
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'RobotoSlab-Bold';
            color: white;
            padding-top: 94px;
            padding-bottom: 60px
        }
      
        .direct {
            text-align: center;
            font-size: 14px;
            color: #e84a1b;
            font-family: 'RobotoSlab-Regular';
            padding-top: 55px
        }
      }
      
      @media only screen and (max-width: 768px) {
        .ngay {
            width:140px;
            margin-right: 20px
        }
      
        .gio {
            width: 100px
        }
      
        .order-cam-logo {
            margin: auto;
            width: fit-content
        }
      
        .note-order {
            font-family: RobotoSlab-Bold;
            padding-top: 50px;
            padding-bottom: 50px
        }
      
        .form-cam-order-lp {
            margin: 0
        }
      
        .title-order {
            font-size: 20px;
            text-transform: uppercase;
            font-family: 'RobotoSlab-Bold';
            color: white;
            padding-top: 60px;
            padding-bottom: 30px
        }
      
    
      
        .direct {
            text-align: center;
            font-size: 14px;
            color: #e84a1b;
            font-family: 'RobotoSlab-Regular';
            padding-top: 35px;
            padding-bottom: 35px
        }
      
        .pd-mb {
            padding-top: 55px
        }
      }
      
      .border-bottom-header-db:after {
        content: '';
        position: absolute;
        width: 9%;
        bottom: 15px;
        justify-content: center;
        align-items: center;
        display: flex
      }
      
      .border-bottom-header-style .border-bottom-header-db:after {
        border-bottom: 3px solid #e84a1b
      }
      
      .border-bottom-header-style .border-bottom-header-db a {
        font-family: 'RobotoSlab-Bold' !important
      }
      
      #orderSuccess {
        border-radius: 13px;
        text-align: center
      }
      
      .title-pu {
        padding-top: 20px;
        padding-bottom: 20px;
        font-family: 'RobotoSlab-Bold'
      }
      
      .fancybox-close-small {
        display: none
      }
      
      .btn-close {
        border: 1px solid #ff6a00;
        background: #ff6a00;
        color: white;
        font-size: 14px;
        font-family: 'RobotoSlab-Medium';
        border-radius: 25px;
        width: 140px
      }
      
      .text-pu {
        padding-bottom: 20px;
        font-family: 'RobotoSlab-Regular'
      }
      
      .add-gbcolor1 {
        background-color: #e84a1b
      }
      
      .rm-gbcolor {
        background-color: #b7b7b7
      }
      
      .add-gbcolor2 {
        background-color: #b93c3c
      }
      
      .btn1 {
        margin-right: 26px;
        text-align: center;
        border: 1px solid white;
        height: 69px;
        width: 69px;
        border-radius: 40px;
        font-family: 'RobotoSlab-Bold';
        color: white;
        background-color: #b7b7b7;
        float: left;
        margin-bottom: 30px
      }
      
      #btn2 {
        text-align: center;
        border: 1px solid white;
        height: 69px;
        width: 69px;
        border-radius: 40px;
        font-family: 'RobotoSlab-Bold';
        color: white;
        background-color: #b7b7b7
      }
      
      .btn1 a {
        font-size: 14px;
        color: white
      }
      
      #btn2 a {
        font-size: 14px;
        color: white
      }

@media only screen and (max-width: 810px) {
.menu-des {
    background-color: #162938;
    display: flex; }
#navbar-container {
    background-image: url(bg.png);
    background-color: #162938;
    height: 65px;
    z-index: 999;
    width: 100%;
    position: relative; }
    .box-btn a {
    text-align: center; }
    .btn-dangnhap {
    border: 1px solid #e84a1b;
    height: 31pt;
    border-radius: 44px;
    width: 139pt;
    background: #fbfbfb00;
    margin: auto;
    justify-content: center;
    align-items: center;
    padding-top: 6px;
    font-size: 12pt !important;
    color: #e84a1b !important; }
.showmenu {
    display: flex;
    position: relative; }
.show-nav {
    position: absolute;
    right: 15px;
    top: 10px; }

        .activelink {
            font-family: RobotoSlab-Bold;
            border-bottom: 4px solid #e84a1b; }

    
              